html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.listing-article {
  display: grid;

  grid-template-columns: 25% 75%;
  grid-template-areas: 'limg ldesc'
                        'ltitle ldesc'
                        'linfo ldesc';
}

.listing-img{
  grid-area: limg;
}
.listing-title{
  grid-area: ltitle;
}
.listing-info{
  grid-area: linfo;
}
.listing-desc{
  grid-area: ldesc;
}

.reserve_container {
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-areas: 'rform rcalendar';
  
  padding-top: 30px;
  padding-bottom: 65px;
}

.reserve_form{
  grid-area: rform;
}

.reserve_calendar{
  grid-area: rcalendar;
}

body {
  margin-bottom: 60px;
}

.listing-article img {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.reserve_container {
    margin-top: 2rem;
}

.reserve_form {
    margin-bottom: 2rem;
}

#calendar {
    margin-top: 1rem;
}
